body {
  font-family: "Arial, sans-serif";
  background-color: #e2d684;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #4caf50;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-left: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* .result {
  margin-top: 20px;
} */

/* .result h2 {
  color: #4caf50;
} */

/* .result p {
  color: #4caf50;
  font-weight: bold;
} */

.result {
  text-align: center;

  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -wrgb(19, 56, 27)ackground-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
}

.meter-image {
  position: relative;
}
.meter-image > .arrow-meter {
  position: absolute;
  bottom: -18px;
  left: 76px;
  transform: rotate(0deg);
  animation: transform 1s ease-in;
}
